@page "/diagnostics/dashboard"

@using System.Net.Http
@inject IDiagnosticsDataService DataService

<h2 class="rbk-auditing-dashboard-red">Diagnostics Dashboard</h2>

<RadzenCard Style="width:100%; margin-bottom: 2em;">

    <div style="display: flex; justify-content: space-between; gap: 1em;">
        <div style="flex: 1">
            <h3>Date from</h3>
            <RadzenDatePicker @bind-Value="dateFrom" DateFormat="d" Style="width: 100%" />
        </div>
        <div style="flex: 1">
            <h3>Date to</h3>
            <RadzenDatePicker @bind-Value="dateTo" DateFormat="d" Style="width: 100%" />
        </div>
        <div style="flex: 2; display: flex; justify-content: flex-start; margin-top: 1em; align-items: flex-end">
            <RadzenButton Text="Filter" ButtonStyle="ButtonStyle.Secondary" Style="width: 150px" Click="@(Click)" />
        </div>
    </div>

</RadzenCard>

<div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: baseline; align-content: flex-start;">
    @if (dailyErrors != null)
    {
        <RadzenCard Style="width:100%; margin: 0.5em; min-height: 400px">
            <h4 style="margin-bottom: 0px; margin-top: 0.5em">Daily errors</h4>
            <RadzenChart Style="height: 325px;">
                <RadzenLegend Visible="false" />
                <RadzenLineSeries Data="@dailyErrors" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="Errors">
                    <RadzenMarkers MarkerType="MarkerType.Circle" />
                </RadzenLineSeries>
                <RadzenCategoryAxis Padding="20">
                    <RadzenGridLines Visible="true" />
                </RadzenCategoryAxis>
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true" />
                </RadzenValueAxis>
            </RadzenChart>

        </RadzenCard>
    }

    @if (dailySourceErrors != null)
    {
        <RadzenCard Style="width:100%; margin: 0.5em; min-height: 400px">
            <h4 style="margin-bottom: 0px; margin-top: 0.5em">Errors by exception source</h4>
            <RadzenChart Style="height: 325px;">
                <RadzenLegend Visible="false" />
                @foreach (var series in dailySourceErrors)
                {
                    <RadzenLineSeries Data="@series.Data" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="@series.Name">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                }
                <RadzenLegend Position="LegendPosition.Right" />
                <RadzenCategoryAxis Padding="20">
                    <RadzenGridLines Visible="true" />
                </RadzenCategoryAxis>
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true" />
                </RadzenValueAxis>
            </RadzenChart>

        </RadzenCard>
    }

    @if (dailyLayerErrors != null)
    {
        <RadzenCard Style="width:100%; margin: 0.5em; min-height: 400px">
            <h4 style="margin-bottom: 0px; margin-top: 0.5em">Errors by application layer</h4>
            <RadzenChart Style="height: 325px;">
                <RadzenLegend Visible="false" />
                @foreach (var series in dailyLayerErrors)
                {
                    <RadzenLineSeries Data="@series.Data" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="@series.Name">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                }
                <RadzenLegend Position="LegendPosition.Right" />
                <RadzenCategoryAxis Padding="20">
                    <RadzenGridLines Visible="true" />
                </RadzenCategoryAxis>
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true" />
                </RadzenValueAxis>
            </RadzenChart>

        </RadzenCard>
    }

    @if (dailyAreaErrors != null)
    {
        <RadzenCard Style="width:100%; margin: 0.5em; min-height: 400px">
            <h4 style="margin-bottom: 0px; margin-top: 0.5em">Errors by application area</h4>
            <RadzenChart Style="height: 325px;">
                <RadzenLegend Visible="false" />
                @foreach (var series in dailyAreaErrors)
                {
                    <RadzenLineSeries Data="@series.Data" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="@series.Name">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                }
                <RadzenLegend Position="LegendPosition.Right" />
                <RadzenCategoryAxis Padding="20">
                    <RadzenGridLines Visible="true" />
                </RadzenCategoryAxis>
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true" />
                </RadzenValueAxis>
            </RadzenChart>

        </RadzenCard>
    }

    @if (dailyBrowserErrors != null)
    {
        <RadzenCard Style="width:100%; margin: 0.5em; min-height: 400px">
            <h4 style="margin-bottom: 0px; margin-top: 0.5em">Errors by browser</h4>
            <RadzenChart Style="height: 325px;">
                <RadzenLegend Visible="false" />
                @foreach (var series in dailyBrowserErrors)
                {
                    <RadzenLineSeries Data="@series.Data" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="@series.Name">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                }
                <RadzenLegend Position="LegendPosition.Right" />
                <RadzenCategoryAxis Padding="20">
                    <RadzenGridLines Visible="true" />
                </RadzenCategoryAxis>
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true" />
                </RadzenValueAxis>
            </RadzenChart>

        </RadzenCard>
    }

    @if (dailyDeviceErrors != null)
    {
        <RadzenCard Style="width:100%; margin: 0.5em; min-height: 400px">
            <h4 style="margin-bottom: 0px; margin-top: 0.5em">Errors by device type</h4>
            <RadzenChart Style="height: 325px;">
                <RadzenLegend Visible="false" />
                @foreach (var series in dailyDeviceErrors)
                {
                    <RadzenLineSeries Data="@series.Data" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="@series.Name">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                }
                <RadzenLegend Position="LegendPosition.Right" />
                <RadzenCategoryAxis Padding="20">
                    <RadzenGridLines Visible="true" />
                </RadzenCategoryAxis>
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true" />
                </RadzenValueAxis>
            </RadzenChart>

        </RadzenCard>
    }

    @if (dailyOperatingSystemErrors != null)
    {
        <RadzenCard Style="width:100%; margin: 0.5em; min-height: 400px">
            <h4 style="margin-bottom: 0px; margin-top: 0.5em">Errors by operating system</h4>
            <RadzenChart Style="height: 325px;">
                <RadzenLegend Visible="false" />
                @foreach (var series in dailyOperatingSystemErrors)
                {
                    <RadzenLineSeries Data="@series.Data" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="@series.Name">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                }
                <RadzenLegend Position="LegendPosition.Right" />
                <RadzenCategoryAxis Padding="20">
                    <RadzenGridLines Visible="true" />
                </RadzenCategoryAxis>
                <RadzenValueAxis>
                    <RadzenGridLines Visible="true" />
                </RadzenValueAxis>
            </RadzenChart>

        </RadzenCard>
    }

</div>

@code {
    LineChartSeries[] dailyAreaErrors;
    LineChartSeries[] dailyBrowserErrors;
    LineChartSeries[] dailyLayerErrors;
    LineChartSeries[] dailyDeviceErrors;
    LineChartSeries[] dailyOperatingSystemErrors;
    LineChartSeries[] dailySourceErrors;
    DateValuePoint[] dailyErrors;

    DateTime dateFrom = DateTime.Now.AddDays(-7);
    DateTime dateTo = DateTime.Now;

    async void Click(MouseEventArgs args)
    {
        dailyAreaErrors = (await DataService.GetDailyAreaErrors(dateFrom, dateTo))?.Data;
        dailyBrowserErrors = (await DataService.GetDailyBrowserErrors(dateFrom, dateTo))?.Data;
        dailyDeviceErrors = (await DataService.GetDailyDeviceErrors(dateFrom, dateTo))?.Data;
        dailyLayerErrors = (await DataService.GetDailyLayerErrors(dateFrom, dateTo))?.Data;
        dailyOperatingSystemErrors = (await DataService.GetDailyOperatingSystemErrors(dateFrom, dateTo))?.Data;
        dailySourceErrors = (await DataService.GetDailySourceErrors(dateFrom, dateTo))?.Data;
        dailyErrors = (await DataService.GetDailyErrors(dateFrom, dateTo))?.Data;

        // Note that the following line is necessary because otherwise Blazor would not recognize the state change and not refresh the UI
        StateHasChanged();
    }
}
