@page "/analytics/dashboard"

@using System.Net.Http
@inject IAnalyticsDataService DataService

<h2 class="rbk-auditing-dashboard-red">Server Side Analytics</h2>

<RadzenCard Style="width:100%; margin-bottom: 2em;">

    <div style="display: flex; justify-content: space-between; gap: 1em;">
        <div style="flex: 1">
            <h3>Date from</h3>
            <RadzenDatePicker @bind-Value="dateFrom" DateFormat="d" Disabled="@isLoading" Style="width: 100%" />
        </div>
        <div style="flex: 1">
            <h3>Date to</h3>
            <RadzenDatePicker @bind-Value="dateTo" DateFormat="d" Disabled="@isLoading" Style="width: 100%" />
        </div>
        <div style="flex: 2; display: flex; justify-content: flex-start; margin-top: 1em; align-items: flex-end">
            <RadzenButton Text="Filter" ButtonStyle="ButtonStyle.Secondary" Disabled="@isLoading" Style="width: 150px" Click="@(Click)" />
        </div>
    </div>

</RadzenCard>

<Loading isLoading="@isLoading" data="@analyticsResults"></Loading>

@if (analyticsResults != null)
{
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: baseline; align-content: flex-start;">
        @if (analyticsResults.DailyActiveUsers != null)
        {
            <RadzenCard Style="width:1100px; margin: 0.5em; min-height: 350px">
                <h4 style="margin-bottom: 0px; margin-top: 0.5em">Daily active users</h4>
                <RadzenChart Style="height: 275px;">
                    <RadzenLegend Visible="false" />
                    <RadzenLineSeries Data="@analyticsResults.DailyActiveUsers" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="Active users">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" FormatString="{0:dd/MMM}">
                        <RadzenGridLines Visible="true" />
                    </RadzenCategoryAxis>
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis>
                </RadzenChart>

            </RadzenCard>
        }

        @if (analyticsResults.MostActiveUsers != null)
        {
            <RadzenCard Style="width:500px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Top users</h4>
                <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="5" Data="@analyticsResults.MostActiveUsers" TItem="SimpleLabeledValue<int>">
                    <Columns>
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Label" Title="Endpoint" />
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Value" Title="Hits" Width="100px" TextAlign="TextAlign.Center" />
                    </Columns>
                </RadzenGrid>
            </RadzenCard>
        }

        @if (analyticsResults.DailyErrors != null)
        {
            <RadzenCard Style="width:1100px; margin: 0.5em; min-height: 350px">
                <h4 style="margin-bottom: 0px; margin-top: 0.5em">Daily errors</h4>
                <RadzenChart Style="height: 275px;">
                    <RadzenLegend Visible="false" />
                    <RadzenLineSeries Data="@analyticsResults.DailyErrors" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="Errors">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" FormatString="{0:dd/MMM}">
                        <RadzenGridLines Visible="true" />
                    </RadzenCategoryAxis>
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis>
                </RadzenChart>

            </RadzenCard>
        }

        @if (analyticsResults.MostFailedEndpoints != null)
        {
            <RadzenCard Style="width:500px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Most failed endpoints</h4>
                <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="5" Data="@analyticsResults.MostFailedEndpoints" TItem="SimpleLabeledValue<int>">
                    <Columns>
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Label" Title="Endpoint" />
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Value" Title="Errors" Width="100px" TextAlign="TextAlign.Center" />
                    </Columns>
                </RadzenGrid>
            </RadzenCard>
        }

        @if (analyticsResults.EndpointErrorRates != null)
        {
            <RadzenCard Style="width:500px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Endpoint error rates</h4>
                <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="5" Data="@analyticsResults.EndpointErrorRates" TItem="SimpleLabeledValue<double>">
                    <Columns>
                        <RadzenGridColumn TItem="SimpleLabeledValue<double>" Property="Label" Title="Endpoint" />
                        <RadzenGridColumn TItem="SimpleLabeledValue<double>" Property="Value" Title="Value" Width="100px" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                @String.Format("{0}%", data.Value.ToString("0.00"))
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </RadzenCard>
        }

        @if (analyticsResults.DailyAuthenticationFailures != null)
        {
            <RadzenCard Style="width:1100px; margin: 0.5em; min-height: 350px">
                <h4 style="margin-bottom: 0px; margin-top: 0.5em">Daily authentication failures</h4>
                <RadzenChart Style="height: 275px;">
                    <RadzenLegend Visible="false" />
                    <RadzenLineSeries Data="@analyticsResults.DailyAuthenticationFailures" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="Requests">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" FormatString="{0:dd/MMM}">
                        <RadzenGridLines Visible="true" />
                    </RadzenCategoryAxis>
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis>
                </RadzenChart>

            </RadzenCard>
        }

        @if (analyticsResults.DailyInboundTraffic != null)
        {
            <RadzenCard Style="width:1100px; margin: 0.5em; min-height: 350px">
                <h4 style="margin-bottom: 0px; margin-top: 0.5em">Daily inbound traffic (KB)</h4>
                <RadzenChart Style="height: 275px;">
                    <RadzenLegend Visible="false" />
                    <RadzenLineSeries Data="@analyticsResults.DailyInboundTraffic" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="Inbound traffic">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" FormatString="{0:dd/MMM}">
                        <RadzenGridLines Visible="true" />
                    </RadzenCategoryAxis>
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis>
                </RadzenChart>

            </RadzenCard>
        }

        @if (analyticsResults.BiggestResquestsEndpoints != null)
        {
            <RadzenCard Style="width:500px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Biggest requests</h4>
                <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="5" Data="@analyticsResults.BiggestResquestsEndpoints" TItem="SimpleLabeledValue<int>">
                    <Columns>
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Label" Title="Endpoint" />
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Value" Title="Avg. Size" Width="100px" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                @String.Format("{0} bytes", data.Value)
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </RadzenCard>
        }

        @if (analyticsResults.DailyOutboundTraffic != null)
        {
            <RadzenCard Style="width:1100px; margin: 0.5em; min-height: 350px">
                <h4 style="margin-bottom: 0px; margin-top: 0.5em">Daily outbound traffic  (KB)</h4>
                <RadzenChart Style="height: 275px;">
                    <RadzenLegend Visible="false" />
                    <RadzenLineSeries Data="@analyticsResults.DailyOutboundTraffic" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="Outbound traffic">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" FormatString="{0:dd/MMM}">
                        <RadzenGridLines Visible="true" />
                    </RadzenCategoryAxis>
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis>
                </RadzenChart>

            </RadzenCard>
        }

        @if (analyticsResults.BiggestResponsesEndpoints != null)
        {
            <RadzenCard Style="width:500px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Biggest responses</h4>
                <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="5" Data="@analyticsResults.BiggestResponsesEndpoints" TItem="SimpleLabeledValue<int>">
                    <Columns>
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Label" Title="Endpoint" />
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Value" Title="Avg. Size" Width="100px" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                @String.Format("{0} bytes", data.Value)
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </RadzenCard>
        }

        @if (analyticsResults.DailyRequests != null)
        {
            <RadzenCard Style="width:1100px; margin: 0.5em; min-height: 350px">
                <h4 style="margin-bottom: 0px; margin-top: 0.5em">Daily requests</h4>
                <RadzenChart Style="height: 275px;">
                    <RadzenLegend Visible="false" />
                    <RadzenLineSeries Data="@analyticsResults.DailyRequests" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="Requests">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" FormatString="{0:dd/MMM}">
                        <RadzenGridLines Visible="true" />
                    </RadzenCategoryAxis>
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis>
                </RadzenChart>

            </RadzenCard>
        }

        @if (analyticsResults.MostUsedEndpoints != null)
        {
            <RadzenCard Style="width:500px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Most used endpoints (read)</h4>
                <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="5" Data="@analyticsResults.MostUsedEndpoints" TItem="SimpleLabeledValue<int>">
                    <Columns>
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Label" Title="Endpoint" />
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Value" Title="Hits" Width="100px" TextAlign="TextAlign.Center" />
                    </Columns>
                </RadzenGrid>
            </RadzenCard>
        }

        @if (analyticsResults.CachedRequestsProportion != null)
        {
            <RadzenCard Style="width:500px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Cached responses proportion</h4>
                <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="5" Data="@analyticsResults.CachedRequestsProportion" TItem="SimpleLabeledValue<double>">
                    <Columns>
                        <RadzenGridColumn TItem="SimpleLabeledValue<double>" Property="Label" Title="Endpoint" />
                        <RadzenGridColumn TItem="SimpleLabeledValue<double>" Property="Value" Title="Value" Width="100px" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                @String.Format("{0}%", data.Value.ToString("0.00"))
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </RadzenCard>
        }

        @if (analyticsResults.SlowestReadEndpoints != null)
        {
            <RadzenCard Style="width:500px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Slowest endpoints (read, non cached)</h4>
                <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="5" Data="@analyticsResults.SlowestReadEndpoints" TItem="SimpleLabeledValue<int>">
                    <Columns>
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Label" Title="Endpoint" />
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Value" Title="Duration" Width="100px" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                @String.Format("{0} ms", data.Value)
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </RadzenCard>
        }

        @if (analyticsResults.SlowestWriteEndpoints != null)
        {
            <RadzenCard Style="width:500px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Slowest endpoints (write)</h4>
                <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="5" Data="@analyticsResults.SlowestWriteEndpoints" TItem="SimpleLabeledValue<int>">
                    <Columns>
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Label" Title="Endpoint" />
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Value" Title="Duration" Width="100px" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                @String.Format("{0} ms", data.Value)
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </RadzenCard>
        }

        @if (analyticsResults.TotalTimeComsumptionPerReadEndpoint != null)
        {
            <RadzenCard Style="width:500px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Total time comsumption (read, non cached)</h4>
                <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="5" Data="@analyticsResults.TotalTimeComsumptionPerReadEndpoint" TItem="SimpleLabeledValue<int>">
                    <Columns>
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Label" Title="Endpoint" />
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Value" Title="Time" Width="100px" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                @String.Format("{0} ms", data.Value)
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </RadzenCard>
        }

        @if (analyticsResults.TotalTimeComsumptionPerWriteEndpoint != null)
        {
            <RadzenCard Style="width:500px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Total time comsumption (write)</h4>
                <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="5" Data="@analyticsResults.TotalTimeComsumptionPerWriteEndpoint" TItem="SimpleLabeledValue<int>">
                    <Columns>
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Label" Title="Endpoint" />
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Value" Title="Time" Width="100px" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                @String.Format("{0} ms", data.Value)
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </RadzenCard>
        }

        @if (analyticsResults.MostActiveDomains != null)
        {
            <RadzenCard Style="width:500px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Most active domains</h4>
                <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="5" Data="@analyticsResults.MostActiveDomains" TItem="SimpleLabeledValue<int>">
                    <Columns>
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Label" Title="Endpoint" />
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Value" Title="Hits" Width="100px" TextAlign="TextAlign.Center" />
                    </Columns>
                </RadzenGrid>
            </RadzenCard>
        }

        @if (analyticsResults.DailyTransactions != null)
        {
            <RadzenCard Style="width:1100px; margin: 0.5em; min-height: 350px">
                <h4 style="margin-bottom: 0px; margin-top: 0.5em">Daily database transactions</h4>
                <RadzenChart Style="height: 275px;">
                    <RadzenLegend Visible="false" />
                    <RadzenLineSeries Data="@analyticsResults.DailyTransactions" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="Daily database transactions">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" FormatString="{0:dd/MMM}">
                        <RadzenGridLines Visible="true" />
                    </RadzenCategoryAxis>
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis>
                </RadzenChart>

            </RadzenCard>
        }

        @if (analyticsResults.AverageTransactionsPerEndpoint != null)
        {
            <RadzenCard Style="width:500px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Average transactions per endpoint</h4>
                <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="5" Data="@analyticsResults.AverageTransactionsPerEndpoint" TItem="SimpleLabeledValue<int>">
                    <Columns>
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Label" Title="Endpoint" />
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Value" Title="Total" Width="100px" TextAlign="TextAlign.Center" />
                    </Columns>
                </RadzenGrid>
            </RadzenCard>
        }

        @if (analyticsResults.DailyDatabaseUsage != null)
        {
            <RadzenCard Style="width:1100px; margin: 0.5em; min-height: 350px">
                <h4 style="margin-bottom: 0px; margin-top: 0.5em">Daily database processing time</h4>
                <RadzenChart Style="height: 275px;">
                    <RadzenLegend Visible="false" />
                    <RadzenLineSeries Data="@analyticsResults.DailyDatabaseUsage" CategoryProperty="Date" LineType="LineType.Solid" ValueProperty="Value" Title="Daily database processing time">
                        <RadzenMarkers MarkerType="MarkerType.Circle" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" FormatString="{0:dd/MMM}">
                        <RadzenGridLines Visible="true" />
                    </RadzenCategoryAxis>
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis>
                </RadzenChart>

            </RadzenCard>
        }

        @if (analyticsResults.MostResourceHungryEndpoint != null)
        {
            <RadzenCard Style="width:500px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Average transactions per endpoint</h4>
                <RadzenGrid AllowFiltering="false" AllowPaging="true" PageSize="5" Data="@analyticsResults.MostResourceHungryEndpoint" TItem="SimpleLabeledValue<int>">
                    <Columns>
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Label" Title="Endpoint" />
                        <RadzenGridColumn TItem="SimpleLabeledValue<int>" Property="Value" Title="Time" Width="100px" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                @String.Format("{0} ms", data.Value)
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </RadzenCard>
        }

        @if (analyticsResults.MostActiveHours != null)
        {
            <RadzenCard Style="width:1615px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Most active hours</h4>
                <RadzenChart>
                    <RadzenColumnSeries Data="@analyticsResults.MostActiveHours" CategoryProperty="Label" Title="Total Hits" LineType="LineType.Dashed" ValueProperty="Value" />
                    <RadzenColumnOptions Radius="5" />
                    <RadzenLegend Visible="false" />
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis>
                </RadzenChart>
            </RadzenCard>
        }

        @if (analyticsResults.MostActiveDays != null)
        {
            <RadzenCard Style="width:1615px; margin: 0.5em; min-height: 350px;">
                <h4 style="margin-top: 0.5em">Most active days of the week</h4>
                <RadzenChart>
                    <RadzenColumnSeries Data="@analyticsResults.MostActiveDays" CategoryProperty="Label" Title="Total Hits" LineType="LineType.Dashed" ValueProperty="Value" />
                    <RadzenColumnOptions Radius="5" />
                    <RadzenLegend Visible="false" />
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                    </RadzenValueAxis>
                </RadzenChart>
            </RadzenCard>
        }

    </div>
}


@code {
    AnalyticsResults analyticsResults;

    DateTime dateFrom = DateTime.Now.AddDays(-7);
    DateTime dateTo = DateTime.Now;
    bool isLoading = false;

    async void Click(MouseEventArgs args)
    {
        analyticsResults = null;
        isLoading = true;

        analyticsResults = (await DataService.GetDashboardData(dateFrom, dateTo)).Data;

        isLoading = false;

        // Note that the following line is necessary because otherwise Blazor would not recognize the state change and not refresh the UI
        StateHasChanged();
    }
}
